body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    padding-top: 2px;
}
header {
    background-color:#eeeded;
    color: #fff;
    padding: 0px 0;
    height: 34px;  
    max-width: 100%;
    position: fixed; /* Torna o cabeçalho fixo no topo */
    width: 100%; /* Faz com que o cabeçalho tenha a largura total */
    top: 0; /* Fixa o cabeçalho no topo da página */
    z-index: 1000; 
    
}
.header2 {
    background-color: #fff;
    color: #fff;
    padding: 0;
    height: 65px;
    margin-top: 34px;
    position: fixed; /* Torna o cabeçalho fixo no topo */
    width: 100%; /* Faz com que o cabeçalho tenha a largura total */
    top: 0; /* Fixa o cabeçalho no topo da página */
    z-index: 1000;
}
.line {
    position: fixed; /* Torna a linha fixa no topo */
    width: 100%;
    top: 98px; /* Ajuste a altura em pixels para definir a distância a partir do topo */
    height: 1px; /* Altura da linha */
    background-color: #dcdcdc; /* Cor da linha */
    z-index: 999; /* Certifique-se de que a linha esteja abaixo do cabeçalho principal */
}
.logo {
    width: 100px;
    float: left;
    margin-left: 30px;
    margin-top: -9px;
}
.logo img {
    width: 70px;
    height: 65px;
}

.menu {
    margin-left: 0px;; /* Adicione o espaço à esquerda para acomodar a logo */
    padding-top:9px;
}
.menu ul {
    list-style: none;
    padding: 0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:left;
    text-align:center;
}

.menu ul li {
    margin-right: 20px;
    position: relative;
    padding-top: 15px;
}

.menu ul li a {
    color: #000;
    text-decoration: none;
    text-align: center;
    top: 0px;
}

.menu ul li.parent {
    position: relative;
}

/* Aplique a linha hover apenas ao menu pai */
.menu ul li.parent::before {
    content: "";
    position: absolute;
    bottom: 9px;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #1df68d;
    transition: width 0.3s ease-in-out;
}

.menu ul li.parent:hover::before {
    width: 103%;

}

.submenu-content {
    position: absolute;
    background-color: #fff;
    z-index: 1000;
    padding: 5px;
    top: 100%;
    left: -5px;
    width:170px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:center ;
    text-align: left;
}

.menu ul li.parent:hover .submenu-content {
    opacity: 1;
    visibility: visible;
}

.submenu-content a {
    color: #fff; /* Cor do texto no submenu */
    text-decoration: none;
}
.submenu-content a::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px; /* Ajuste a altura da linha conforme necessário */
    bottom: 0; /* Posiciona a linha abaixo do texto */
    left: 4px;
    background-color: #000; /* Cor da linha */
    transform: scaleX(0); /* Inicialmente, a linha estará oculta */
    transform-origin: center;
}

.submenu-content a:hover::after {
    transform: scaleX(1); /* Aumenta a largura da linha ao passar o mouse */
}

.submenu-content ul {   
    list-style: none; 
    padding: 0; 
    margin: 0;/* Remova as margens padrão da lista */
    text-align: left;
}
.submenu-content li {   
    margin-bottom: 10px; 
}

.search-bar {
    display: flex;
    align-items: center; /* Centraliza verticalmente o conteúdo */
    margin-left: 50px;
    margin-top: 2px;
    position: relative;
}

.barra-busca {
    width: 250px; 
    padding: 10px;
    border-radius:;
    margin-right: 10px;
    font-size: 14px;
    margin-left: 440px;
    margin-top: 5px;
    border: none; 
    border-bottom: 1px solid #000;
    background-color: transparent;
    outline: none;
    color: #000;
}

.barra-busca::placeholder{
  color:#a9a9;
}

.botao-pesquisa {
    background: transparent; /* Cor do botão */
    color: #000; /* Cor do texto no botão */
    border: none;
    border-radius: 4px;
    padding: 17px 0px;
    cursor: pointer;
    position: absolute;
    margin-left: 935px;
}
.icon-cadastro {
    position: absolute;
    top: 19px; 
    right: 40px;  
    color: #000; 
    font-size: 28px; 
    cursor: pointer;

}
.icon-carrinho {
    position: absolute;
    top: 19px; 
    right: 90px;  
    color: #000; 
    font-size: 28px; 
    cursor: pointer;
}
.product {
    display: flex;
    margin-left: 100px;
    margin-top: -20px;
}

.product-description {
    width: 50%;
    padding: 20px;
    margin-left:740px;
    position:block ;
}

.product-images {
    width: 40%;
    margin-top: 180px;
}

.product-images img {
    width: 100%;
    display: none;
}

.product-thumbnails {
    width: 40.60%;
    margin-top: 175px;
}

.product-thumbnails img {
    width: 19%;
    margin: 5px;
    cursor: pointer;
    display: block;
    transition: transform 0.2s;
    
}
.product-thumbnails img:hover {
    outline: 3px solid #000;
}
.product-info {
    width: 30%;
    padding: 20px;
}
.product-sizes {
    margin-top: 20px;
    display: flex;
}

.size-option {
    width: 70px;
    height: 50px;
    border: 1px solid #b8b6b6;
    border-radius: 0px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin-right: 5px;
}

.size-option:hover {
    background-color: #f0f0f0;
}

.size-option.selected {
    border-color: #1df68d;
    color: #1df68d;
    background-color: #000;
}

#back-button {
    display: block;
    margin-top: 40px;
    padding: 10px 20px;
    background-color: #1df68d;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    width: 250px;
    height: 30px;
    line-height: 30px; /* Adicione esta linha para centralizar o texto */
}

footer{
    background-color:#1df68d;
    margin-top: 400px;
}

