body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    padding-top: 10px;
}
header {
    background-color:#dcdcdc;
    color: #fff;
    padding: 0px 0;
    height: 40px;   
}
.header2 {
    background-color: #fff;
    color: #fff;
    padding: 0;
    height: 65px;
    margin-top: 0px; /* Ajuste o valor conforme necessário */
}
.logo {
    width: 100px;
    float: left;
    margin-left: 30px;
    margin-top: -9px;
}
.logo img {
    width: 65px;
    height: 65px;
}

.menu {
    margin-left: 0px;; /* Adicione o espaço à esquerda para acomodar a logo */
    padding-top:9px;
}
.menu ul {
    list-style: none;
    padding: 0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:left;
    text-align:center;
}

.menu ul li {
    margin-right: 20px;
    position: relative;
    padding-top: 15px;
}

.menu ul li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    top: 20px;
}

.submenu-content {
    position: absolute;
    background-color: #1df68d;
    z-index: 1;
    padding: 5px;
    top: 32px;
    left: -5px;
    width:100px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
    flex-direction: column;
    
}

.menu ul li:hover .submenu-content {
    height: auto;
}

.submenu-content a {
    color: #fff; /* Cor do texto no submenu */
    text-decoration: none;
}

.submenu-content ul {   
    list-style: none; 
    padding: 0; 
    margin: 0;/* Remova as margens padrão da lista */
    text-align: left;
}

.submenu-content li {   
    margin-bottom: 10px; 
}

.icon-cadastro {
    position: fixed;
    top: 60px; 
    right: 40px;  
    color: #fff; 
    font-size: 28px; 
    cursor: pointer;

}

    .product-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      gap: 20px;
      padding: 20px;
      justify-items: center;
    }

    .product {
      width: 220px;
      height: 350px;
      border-radius: 15px;
      padding: 15px;
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      background-color: #fff;
      text-align: center;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
    }

    .product:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    }

    .product img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .product h2 {
      margin-top: 0;
      color: black;
      font-size: 1.3rem;
    }

    .product p {
      margin-bottom: 0;
      color: #555;
      font-size: 1rem;
    }

    .product-details {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
    }

    .product-price {
      font-size: 1.2rem;
      font-weight: bold;
      color: #ff6600;
      margin-top: 10px;
    }