body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    padding-top: 2px;
}
header {
    background-color:#eeeded;
    color: #FFF;
    padding: 0px 0;
    height: 34px;  
    max-width: 100%;
    position: fixed; /* Torna o cabeçalho fixo no topo */
    width: 100%; /* Faz com que o cabeçalho tenha a largura total */
    top: 0; /* Fixa o cabeçalho no topo da página */
    z-index: 1000; 
    
}
.header2 {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #fff;
    padding: 0;
    height: 65px;
    margin-top: 34px;
    position: fixed; /* Torna o cabeçalho fixo no topo */
    width: 100%; /* Faz com que o cabeçalho tenha a largura total */
    top: 0; /* Fixa o cabeçalho no topo da página */
    z-index: 1000;
}

.menu-itens {
    display: flex;
    margin-right: 20px;
    column-gap: 9%;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
}
.line  {
    position: fixed; /* Torna a linha fixa no topo */
    width: 103%;
    top: 99px; /* Ajuste a altura em pixels para definir a distância a partir do topo */
    height: 1px; /* Altura da linha */
    background-color: #dcdcdc; /* Cor da linha */
    
}
.logo {
    width: 100px;
    float: left;
    margin-left: 30px;
    margin-top: -9px;
}
.logo img {
    width: 73px;
    height: 65px;
    padding-top:0px;
}

.menu {
    width: 60%;
    margin-left: 0px;; /* Adicione o espaço à esquerda para acomodar a logo */
    padding-top:14px;
}
.menu ul {
    list-style: none;
    padding: 0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:left;
    text-align:center;
}

.menu ul li {
    margin-right: 20px;
    position: relative;
    padding-top: 15px;
}

.menu ul li a {
    color: #000;
    text-decoration: none;
    text-align: center;
    top: 0px;
    font-size: 17px;
}

.menu ul li.parent {
    position: relative;
}

/* Aplique a linha hover apenas ao menu pai */
.menu ul li.parent::before {
    content: "";
    position: absolute;
    bottom: 1px;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #1df68d;
    transition: width 0.3s ease-in-out;
}

.menu ul li.parent:hover::before {
    width: 99%;

}

.submenu-content {

    position: absolute;
    background-color: #fff;
    z-index: 1000;
    padding: 5px;
    top: 100%;
    left: -5px;
    width: 180px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}


.menu ul li.parent:hover .submenu-content {
    opacity: 1;
    visibility: visible;
}

.submenu-content a {
    color: #fff; /* Cor do texto no submenu */
    text-decoration: none;
    text-justify: left;
    
}
.submenu-content a::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px; /* Ajuste a altura da linha conforme necessário */
    bottom: 0; /* Posiciona a linha abaixo do texto */
    left: 4px;
    background-color: #000; /* Cor da linha */
    transform: scaleX(0); /* Inicialmente, a linha estará oculta */
    transform-origin: center;
}

.submenu-content ul {   
    list-style: none; 
    padding: 0; 
    margin: 0;/* Remova as margens padrão da lista */
    text-align: left;
}

.submenu-content li {   
    width: calc(50% - 10px); /* Duas colunas (50%) com espaço entre elas */
    margin: 0 0px 10px 0;
    display: block; 
}
.submenu-content li:nth-child(2n) {
    margin-right: 0;
}
.search-bar {
    display: flex;
    align-items: center; /* Centraliza verticalmente o conteúdo */
    margin-left: 50px;
    margin-top: 2px;
    position: relative;
}
.barra-pesquisa-div {
    display: flex;
    width: 20%;
    margin: 90px 0;
}
.barra-busca {
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 14px;
    margin-top: 5px;
    border:none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    outline: none;
    color: #000;
}

.barra-busca::placeholder{
  color:#a9a9;
}

.botao-pesquisa {
    background: transparent; /* Cor do botão */
    color: #000; /* Cor do texto no botão */
    border: none;
    border-radius: 4px;
    padding: 17px 0px;
    cursor: pointer;
}
.icon-cadastro {
    top: 19px; 
    right: 40px;  
    color: #000; 
    font-size: 28px; 
    cursor: pointer;

}
.icon-carrinho {
    top: 19px; 
    right: 90px;  
    color: #000; 
    font-size: 28px; 
    cursor: pointer;
}
.tabs-container {
    max-width: 420px;
    margin-left: 490px;
    justify-content: space-between;
    display: grid;
    margin-top: 70px;
}

.tab {
    flex-basis: 45%;
    display: none;
}

.tab.active {
    display: block;
}

.tab-content {
    background-color: #fff;
    padding: 25px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tab-content2{
    margin-top: 100px;
}
.tab-content3 {
    background-color: #fff;
    padding: 25px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #1df68d;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-color: #1df68d;
    margin-right:35px;
}

input[type="submit"]:hover {
    background-color: #0AB663;
}

.toggle-button:hover {
    color: #0000FF;
}

.tabs-nav {
    list-style-type: none;
    margin-right: px;
    margin: 35px;
}

.tabs-nav li {
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    border-radius: 3px;
    background-color: #eee;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tabs-nav li.active {
    background-color: #ddd;
}

.tabs-nav li:hover {
    background-color: #ccc;
}

.menu-text {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    color: #888;
}

.tlogin {
    text-align: center;
    font-family: Arial;
    color: #1df68d;
}

.create-account-button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #1df68d;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-color: #1df68d;
    margin-top: 40.9px;
    margin-left: 201.7px;
}

.create-account-button:hover {
    background-color: #0AB663;
}

.create-admin-button {
    display: none;
    border-radius: 20px;
    background-color: #1df68d;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-color: #1df68d;
}

.create-admin-button:hover {
    background-color: #0AB663;
}

.button-link {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #1df68d;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-color: #1df68d;
    margin-top: -37.9px;
    margin-left: 8px;
}

.button-link:hover {
    background-color: #0AB663;
}

.button-link2 {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #1df68d;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-color: #1df68d;
    margin-top: -37.9px;
    margin-right: 0px;
}

.button-link2:hover {
    background-color: #0AB663;
}

.bai {
    margin-left: 766px;
    margin-top: -114px;
}
.center{
    text-align: center;
    height:10%;
    color:grey;
    padding-top: 5px; 
}