body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    padding-top: 2px;
}
header {
    background-color:#0094FF;
    color: #FFF;
    padding: 0px 0;
    height: 34px;  
    max-width: 100%;
    position: fixed; /* Torna o cabeçalho fixo no topo */
    width: 100%; /* Faz com que o cabeçalho tenha a largura total */
    top: 0; /* Fixa o cabeçalho no topo da página */
    z-index: 1000; 
    
}
.header2 {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #fff;
    padding: 0;
    height: 65px;
    margin-top: 34px;
    position: fixed; /* Torna o cabeçalho fixo no topo */
    width: 100%; /* Faz com que o cabeçalho tenha a largura total */
    top: 0; /* Fixa o cabeçalho no topo da página */
    z-index: 1000;
}

.menu-itens {
    display: flex;
    margin-right: 20px;
    column-gap: 9%;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
}
.line  {
    position: fixed; /* Torna a linha fixa no topo */
    width: 103%;
    top: 99px; /* Ajuste a altura em pixels para definir a distância a partir do topo */
    height: 1px; /* Altura da linha */
    background-color: #dcdcdc; /* Cor da linha */
    
}
.logo {
    width: 100px;
    float: left;
    margin-left: 30px;
    margin-top: -9px;
}
.logo img {
    width: 88px;
    height: 96px;
    padding-top: 9px;
}


.menu {
    width: 90%;
    margin-left: 0px;; /* Adicione o espaço à esquerda para acomodar a logo */
    padding-top:1px;
}
.menu ul {
    list-style: none;
    padding: 0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:center;
    text-align:center;

}

.menu ul li {
    margin-right: 20px;
    position: relative;
    padding-top: 40px;
}

.menu ul li a {
    color: #000;
    text-decoration: none;
    text-align: center;
    top: 0px;
    font-size: 17px;
}

.menu ul li.parent {
    position: relative;
}

/* Aplique a linha hover apenas ao menu pai */
.menu ul li.parent::before {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #0094FF;
    transition: width 0.3s ease-in-out;
}

.menu ul li.parent:hover::before {
    width: 99%;

}

.submenu-content {

    position: absolute;
    background-color: #fff;
    z-index: 1000;
    padding: 5px;
    top: 110%;
    left: -5px;
    width: 180px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}


.menu ul li.parent:hover .submenu-content {
    opacity: 1;
    visibility: visible;
}

.submenu-content a {
    color: #fff; /* Cor do texto no submenu */
    text-decoration: none;
    text-justify: left;
    
}
.submenu-content a::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px; /* Ajuste a altura da linha conforme necessário */
    bottom: 0; /* Posiciona a linha abaixo do texto */
    left: 4px;
    background-color: #000; /* Cor da linha */
    transform: scaleX(0); /* Inicialmente, a linha estará oculta */
    transform-origin: center;
}

.submenu-content ul {   
    list-style: none; 
    padding: 0; 
    margin: 0;/* Remova as margens padrão da lista */
    text-align: left;
}

.submenu-content li {   
    width: calc(50% - 10px); /* Duas colunas (50%) com espaço entre elas */
    margin: 0 0px 10px 0;
    display: block; 
}
.submenu-content li:nth-child(2n) {
    margin-right: 0;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 39px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
}

.product img {
    max-width: 100%;
}

.product h2 {
    margin-top: 10px;
    font-size: 18px;
}

.product p {
    margin: 10px 0;
}

.product button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.product button:hover {
    background-color: #555;
}


.baiano {
    margin-left:-30px;
    margin-right:30px;
   
}

.back-button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: -10px;
}

.back-button:hover {
    background-color: #777;
}
.report-button {
    background-color:#1f7d21;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    display:flex;
   
}

.report-button:hover {
    background-color: #777;
}

