
        /* Estilos para o menu */
        #menu {
            background-color: #333;
            overflow: hidden;
        }

        #menu a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        #menu a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Adicione aqui o CSS do segundo conjunto de código */
        body {
        font-family: Arial, sans-serif;
    }

    header {
        background-color: #333; /* Cor de fundo do cabeçalho */
        color: #fff;
        padding: 20px;
        text-align: center;
    }

    header a {
        color: #fff; /* Cor dos links no cabeçalho */
        text-decoration: none;
        margin: 0 20px; /* Espaçamento entre os links */
        position: relative;
    }

    header a:hover {
        text-decoration: underline; /* Sublinhar os links quando o mouse passar por cima */
    }

    header .dropdown {
        position: relative;
        display: inline-block;
    }

    header .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff; /* Fundo branco */
        border: 1px solid #333; /* Borda preta */
        min-width: 160px;
        z-index: 1;
    }

    header .dropdown:hover .dropdown-content {
        display: block;
    }

    header .dropdown-content a {
        color: #000; /* Cor do texto */
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    header .dropdown-content a:hover {
        background-color: #1df68d;
        color: #fff; /* Cor do texto ao passar o mouse */
    }



