body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    padding-top: 2px;
}
header {
    background-color:#eeeded;
    color: #FFF;
    padding: 0px 0;
    height: 34px;  
    max-width: 100%;
    position: fixed; /* Torna o cabeçalho fixo no topo */
    width: 100%; /* Faz com que o cabeçalho tenha a largura total */
    top: 0; /* Fixa o cabeçalho no topo da página */
    z-index: 1000; 
    
}
.header2 {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #fff;
    padding: 0;
    height: 65px;
    margin-top: 34px;
    position: fixed; /* Torna o cabeçalho fixo no topo */
    width: 100%; /* Faz com que o cabeçalho tenha a largura total */
    top: 0; /* Fixa o cabeçalho no topo da página */
    z-index: 1000;
}

.menu-itens {
    display: flex;
    margin-right: 20px;
    column-gap: 9%;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
}
.line  {
    position: fixed; /* Torna a linha fixa no topo */
    width: 103%;
    top: 99px; /* Ajuste a altura em pixels para definir a distância a partir do topo */
    height: 1px; /* Altura da linha */
    background-color: #dcdcdc; /* Cor da linha */
    
}
.logo {
    width: 100px;
    float: left;
    margin-left: 30px;
    margin-top: -9px;
}
.logo img {
    width: 70px;
    height: 65px;
    padding-top: 5px;
}

.menu {
    width: 60%;
    margin-left: 0px;; /* Adicione o espaço à esquerda para acomodar a logo */
    padding-top:1px;
}
.menu ul {
    list-style: none;
    padding: 0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:left;
    text-align:center;
}

.menu ul li {
    margin-right: 20px;
    position: relative;
    padding-top: 15px;
}

.menu ul li a {
    color: #000;
    text-decoration: none;
    text-align: center;
    top: 0px;
    font-size: 17px;
}

.menu ul li.parent {
    position: relative;
}

/* Aplique a linha hover apenas ao menu pai */
.menu ul li.parent::before {
    content: "";
    position: absolute;
    bottom: 1px;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #1df68d;
    transition: width 0.3s ease-in-out;
}

.menu ul li.parent:hover::before {
    width: 99%;

}

.submenu-content {

    position: absolute;
    background-color: #fff;
    z-index: 1000;
    padding: 5px;
    top: 100%;
    left: -5px;
    width: 180px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}


.menu ul li.parent:hover .submenu-content {
    opacity: 1;
    visibility: visible;
}

.submenu-content a {
    color: #fff; /* Cor do texto no submenu */
    text-decoration: none;
    text-justify: left;
    
}
.submenu-content a::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px; /* Ajuste a altura da linha conforme necessário */
    bottom: 0; /* Posiciona a linha abaixo do texto */
    left: 4px;
    background-color: #000; /* Cor da linha */
    transform: scaleX(0); /* Inicialmente, a linha estará oculta */
    transform-origin: center;
}

.submenu-content ul {   
    list-style: none; 
    padding: 0; 
    margin: 0;/* Remova as margens padrão da lista */
    text-align: left;
}

.submenu-content li {   
    width: calc(50% - 10px); /* Duas colunas (50%) com espaço entre elas */
    margin: 0 0px 10px 0;
    display: block; 
}
.submenu-content li:nth-child(2n) {
    margin-right: 0;
}
.search-bar {
    display: flex;
    align-items: center; /* Centraliza verticalmente o conteúdo */
    margin-left: 50px;
    margin-top: 2px;
    position: relative;
}
.barra-pesquisa-div {
    display: flex;
    width: 20%;
    margin: 90px 0;
}
.barra-busca {
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 14px;
    margin-top: 5px;
    border: none; 
    border-bottom: 1px solid #000;
    background-color: transparent;
    outline: none;
    color: #000;
}

.barra-busca::placeholder{
  color:#a9a9;
}

.botao-pesquisa {
    background: transparent; /* Cor do botão */
    color: #000; /* Cor do texto no botão */
    border: none;
    border-radius: 4px;
    padding: 17px 0px;
    cursor: pointer;
}
.icon-cadastro {
    top: 19px; 
    right: 40px;  
    color: #000; 
    font-size: 28px; 
    cursor: pointer;

}
.icon-carrinho {
    top: 19px; 
    right: 90px;  
    color: #000; 
    font-size: 28px; 
    cursor: pointer;
}
.produtos-destaque {
    padding: 50px;
    padding-top: 90px;
    margin-right: 20px;
    display: flex;
}

.produtos {
    display: flex;
    flex-wrap: nowrap ;
}

.produto {
    width: calc(33.10% - 40px);
    margin-bottom: 20px;
    text-align: left;
    border:0px solid #000;
    padding: 0px;
    margin-left: 40px;
    position: relative;
    background-color: #f7faf8;
    height: 440px;
}

.produto img {
    max-width: 98%;
    height: auto;
}

.preco {
    font-weight: bold;
    color: #333333;
}
.comprar-button {
    position: absolute;
    bottom: -60px;
    left: 165px;
    width: 99.80%;
    height: 60px;
    transform: translateX(-50%);
    background-color: #1df68d;
    color: #000;
    padding: 10px 0px;
    border: none;
    cursor: pointer;
    display: none; /* Inicialmente, o botão estará oculto */
    opacity: 0; /* Comece com uma opacidade de 0 */
    transition: opacity 0.7s ease, transform 0.7s ease;
}

/* Mostrar o botão quando o mouse está sobre o produto */
.produto:hover .comprar-button {
    opacity: 1;
    transform: translateX(-50%);
    display: block;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 100px;
  height: 400px;
  left: 0px;
  background-color: #f7faf8;
}

.slide {
  display: none;
  max-width: 100%;
  height: auto;
  margin-left: 50px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size:60px;
  cursor: pointer; /* Adicione "pointer" para mostrar o cursor como ponteiro ao passar o mouse sobre as setas */
  z-index: 1;
  border-radius: 7px;
  padding: 10px;
  width: 40px; /* Ajuste a largura das setas conforme necessário */
  height: 60px; /* Ajuste a altura das setas conforme necessário */
  text-align: center; /* Centralize o conteúdo verticalmente */
  line-height: 40px; /* Centralize o conteúdo verticalmente */
  color: #000; /* Cor do ícone das setas */
  margin-top: 7px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.slide img {
  max-width: 500px;
  height: 450px;
  margin-left: 770px;
}
.slide .descricao-produto {
    position: absolute;
    color: #000;
    bottom: 0;
    left: 0;
    font-size: 17px;
    padding: 10px;
    width: 50%; /* Ajuste a largura da descrição conforme necessário */
    text-align: center;
    margin-bottom: 9%;
    margin-left:5%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.descricao-produto h3{
    font-size: 32px;
}
footer{
    background-color:#1df68d;
    height: 60px;
    text-align: center;
}
/* Adicione qualquer estilo adicional para o carrossel aqui */

.cor-texto-usuario-boneco {
    color: #1df68d;
    text-transform: capitalize;
}

.center{
    text-align: center;
    height:10%;
    color:grey;
    padding-top: 5px; 
}
.ver-mais-button {
    background-color: #1df68d; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    padding: 5px 17px; /* Espaçamento interno do botão */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    transition: background-color 0.3s; /* Efeito de transição para a cor de fundo */
}

.ver-mais-button:hover {
    background-color: #2bf09e; /* Cor de fundo quando passa o mouse */
}